<div id="group" v-cloak>
  <div class="container">

    <h1><a href="/group">{{group ? group.name : 'Group'}} Dashboard</a></h1>

    <div class="row mb-4">
      <div class="col">
        <div class="btn-list">
          <button class="btn btn-sm btn-outline-info create-group-button"
                  v-if="!group"
                  @click="clickCreateGroup()">
            <i class="fe fe-plus mr-1"></i>Create Group
          </button>
          <button class="btn btn-sm btn-outline-info agenda-item-button"
                  v-if="group"
                  @click="clickCreateMeeting()">
            <i class="fe fe-calendar mr-1"></i>Create Meeting
          </button>
          <button class="btn btn-sm btn-outline-info delete-group-button"
                  v-if="group"
                  @click="clickDeleteGroup(group.id)">
            <i class="fe fe-x mr-1"></i>Delete my Group
          </button>
        </div>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col">
        <div v-if="group" class="card">
          <div class="card-header">
            <h3 class="card-title">Comrades in {{group.name}}</h3>
          </div>
          <div class="card-body o-auto" style="height: 15rem">
            <ul class="list-unstyled list-separated">
              <li class="list-separated-item" :key="'comrade'+comrade.id" v-for="comrade in me.comrades">
                <div class="row align-items-center">
                  <div class="col-auto">
                    <span class="avatar avatar-md d-block" :style="'background-image: url(/api/v1/user/'+comrade.id+'/avatar)'"></span>
                  </div>
                  <div class="col">
                    <div>
                      <a :href="'/'+comrade.username" class="text-inherit">{{comrade.fullName}}</a>
                    </div>
                    <small class="d-block item-except text-sm text-muted h-1x"><js-timestamp :at="comrade.lastSeenAt"></js-timestamp></small>
                  </div>
                  <div class="col-auto">
                    <div class="item-action dropdown">
                      <a href="javascript:void(0)" data-toggle="dropdown" class="icon" aria-expanded="false"><i
                          class="fe fe-more-vertical"></i></a>
                      <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end"
                           style="position: absolute; transform: translate3d(15px, 20px, 0px); top: 0px; left: 0px; will-change: transform;">
                        <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-tag"></i>
                          Action </a>
                        <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-edit-2"></i>
                          Another action </a>
                        <a href="javascript:void(0)" class="dropdown-item"><i
                            class="dropdown-icon fe fe-message-square"></i> Something else here</a>
                        <div class="dropdown-divider"></div>
                        <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-link"></i>
                          Separated link</a>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col">
        <div v-if="local && local.groups" class="card">
          <div class="card-header">
            <h3 class="card-title">Groups in your Local</h3>
          </div>
          <div class="card-body o-auto" style="height: 15rem">
            <ul class="list-unstyled list-separated">
              <li class="list-separated-item" :key="'group'+group.id" v-for="group in local.groups">
                <div class="row align-items-center">
                  <div class="col-auto">
                    <span class="avatar avatar-lg d-block"
                          style="background-image: url(/images/hero-ship.png)"></span>
                  </div>
                  <div class="col">
                    <div>
                      <a href="javascript:void(0)" class="text-inherit">{{group.name}}</a>
                    </div>
                    <small class="d-block item-except text-sm text-muted h-1x">{{group.emailAddress}}</small>
                  </div>
                  <div class="col-auto">
                    <div class="item-action dropdown">
                      <a href="javascript:void(0)" data-toggle="dropdown" class="icon" aria-expanded="false"><i
                          class="fe fe-more-vertical"></i></a>
                      <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end"
                           style="position: absolute; transform: translate3d(15px, 20px, 0px); top: 0px; left: 0px; will-change: transform;">
                        <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-eye"></i> View
                        </a>
                        <a href="javascript:void(0)" class="dropdown-item"><i
                            class="dropdown-icon fe fe-message-square"></i> Message</a>
                        <div class="dropdown-divider"></div>
                        <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-database"></i>Local
                          vote archives</a>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col">
        <div v-if="meetings" class="card">
          <div class="card-header">
            <h3 class="card-title">Meetings of {{group.name}}</h3>
          </div>
          <div class="card-body o-auto" style="height: 15rem">
            <ul class="list-unstyled list-separated">
              <li class="list-separated-item" :key="'meetings'+meeting.id" v-for="meeting in meetings">
                <div class="row align-items-center">
                  <div class="col-auto">
                    <i class="fe fe-calendar"></i>
                  </div>
                  <div class="col">
                    <div>
                      <a href="javascript:void(0)" class="text-inherit"><js-timestamp :format="'calendar'" :at="meeting.date"></js-timestamp></a>
                    </div>
                    <small class="d-block item-except text-sm text-muted h-1x">Created: <js-timestamp :at="meeting.createdAt"></js-timestamp></small>
                  </div>
                  <div class="col-auto">
                    <div class="item-action dropdown">
                      <a href="javascript:void(0)" data-toggle="dropdown" class="icon" aria-expanded="false"><i
                          class="fe fe-more-vertical"></i></a>
                      <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end"
                           style="position: absolute; transform: translate3d(15px, 20px, 0px); top: 0px; left: 0px; will-change: transform;">
                        <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-tag"></i>
                          Action </a>
                        <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-edit-2"></i>
                          Another action </a>
                        <a href="javascript:void(0)" class="dropdown-item"><i
                            class="dropdown-icon fe fe-message-square"></i> Something else here</a>
                        <div class="dropdown-divider"></div>
                        <a @click="clickDeleteMeeting(meeting.id)" class="dropdown-item">
                          <i class="dropdown-icon fe fe-trash-2"></i>
                          Delete Meeting
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>

  <%- /* "Create Group" Modal */ %>
  <modal v-if="virtualPageSlug === 'new'" v-cloak key="new" v-cloak @close="closeCreateGroupModal()">
    <div class="modal-header">
      <h5 class="modal-title">Create a group</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
    </div>
    <ajax-form action="createMyGroup"
               :syncing.sync="syncing"
               :cloud-error.sync="cloudError"
               :handle-parsing="handleParsingCreateGroupForm"
               @submitted="submittedCreateGroupForm()">
      <div class="modal-body">
        <p>Create your group below and then invite comrades to it.</p>
        <p>Just remember that when you create a group, you will not be able to join another. You can only be a member of
          one group at a time.</p>
        <p class="text-danger" v-if="cloudError">
          <small>An error occured while processing your request. Please check your information and try again, or <a
              href="/contact">contact support</a> if the error persists.
          </small>
        </p>
        <p class="text-danger" v-if="formErrors.name">
          <small>Please check that you have a name for your group.</small>
        </p>
        <p class="text-danger" v-if="formErrors.emailAddress">
          <small>Please check that you have an email address that is valid.</small>
        </p>
      </div>
      <div class="form-group">
        <label class="form-label">Group Name</label>
        <div class="input-icon">
          <span class="input-icon-addon">
            <i class="fe fe-users"></i>
          </span>
          <input type="text" class="form-control" v-model="createGroupFormData.name" placeholder="The Example Group">
        </div>
      </div>
      <div class="form-group">
        <label class="form-label">Groups Email Address</label>
        <div class="input-icon">
          <span class="input-icon-addon">
            <i class="fe fe-mail"></i>
          </span>
          <input type="email" class="form-control" v-model="createGroupFormData.emailAddress"  placeholder="email@example.com">
        </div>
      </div>
      <div class="modal-footer">
        <button data-dismiss="modal" class="btn btn-outline-secondary mr-1">Nevermind</button>
        <ajax-button type="submit" :syncing="syncing" class="btn btn-danger ml-1">Create</ajax-button>
      </div>
    </ajax-form>
  </modal>

  <%- /* "Create Meeting" Modal */ %>
  <modal v-if="virtualPageSlug === 'newmeeting'" v-cloak key="newmeeting" v-cloak @close="closeCreateMeetingModal()">
    <div class="modal-header">
      <h5 class="modal-title">Create a Meeting</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
    </div>
    <ajax-form action="createMeeting"
               :syncing.sync="syncing"
               :cloud-error.sync="cloudError"
               :handle-parsing="handleParsingCreateMeetingForm"
               @submitted="submittedCreateMeetingForm()">
      <div class="modal-body">
        <p>Create a meeting below.</p>
        <p>For meetings to be called for an assembly of groups, your existing membership must vote for it.</p>
        <p class="text-danger" v-if="cloudError">
          <small>An error occured while processing your request. Please check your information and try again, or <a
              href="/contact">contact support</a> if the error persists.
          </small>
        </p>
        <p class="text-danger" v-if="formErrors.date">
          <small>Please check that you have entered a date that is valid.</small>
        </p>
        <p class="text-danger" v-if="formErrors.assembly">
          <small>Please check that you have selected an assembly.</small>
        </p>
      </div>
      <div class="form-group">
        <label class="form-label">Date</label>
        <div class="input-icon">
          <span class="input-icon-addon">
            <i class="fe fe-calendar"></i>
          </span>
          <datepicker v-model="formData.date" :displayininternationalformat="true" :placeholder="'YYYY-MM-DD'"></datepicker>
        </div>
      </div>

      <div class="form-group">
        <label for="assembly">Assembly this meeting is for. Normally this will be for your group.</label>
        <div>
          <select id="assembly" v-model="formData.assembly" name="assembly" class="form-control">
            <option value="group" selected>Group</option>
            <option value="local">Local</option>
            <option value="regional">Regional</option>
            <option value="federation">Federation</option>
            <option value="confederation">Confederation</option>
          </select>
        </div>
      </div>

      <div class="modal-footer">
        <button data-dismiss="modal" class="btn btn-outline-secondary mr-1">Nevermind</button>
        <ajax-button type="submit" :syncing="syncing" class="btn btn-danger ml-1">Create</ajax-button>
      </div>
    </ajax-form>
  </modal>

  <%- /* "Confirm Delete Meeting" Modal */ %>
  <modal v-if="confirmDeleteMeetingModalOpen" v-cloak @close="closeDeleteMeetingModal()">
    <div class="modal-header">
      <h5 class="modal-title">Delete this meeting?</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
    </div>
    <ajax-form action="destroyMeeting"
               :syncing.sync="syncing"
               :cloud-error.sync="cloudError"
               :handle-parsing="handleParsingDeleteMeetingForm"
               @submitted="submittedDeleteMeetingForm($event)">
      <div class="modal-body">
        <p>This meeting will be deleted and all associated data lost forever. Discussions, agenda items, the lot.</p>
        <p class="text-danger" v-if="cloudError">
          <small>An error occured while processing your request. Please check your information and try again, or <a
              href="/contact">contact support</a> if the error persists.
          </small>
        </p>
        <p class="text-danger" v-if="me.comrades.length > 1">
          <small>You cannot delete a meeting that contains others agenda items. You may want to talk to your other members
            and have them delete or move their agenda items for this to be deleted.
            Please <a href="/contact">contact support</a> if this cannot be resolved.
          </small>
        </p>
      </div>
      <div class="modal-footer">
        <button data-dismiss="modal" class="btn btn-outline-secondary mr-1">Nevermind</button>
        <ajax-button type="submit" class="btn btn-danger ml-1">Remove</ajax-button>
      </div>
    </ajax-form>
  </modal>

  <%- /* "Confirm Delete Group" Modal */ %>
  <modal v-if="confirmDeleteGroupModalOpen" v-cloak @close="closeDeleteGroupModal()">
    <div class="modal-header">
      <h5 class="modal-title">Delete your group?</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
    </div>
    <ajax-form action="destroyMyGroup"
               :syncing.sync="syncing"
               :cloud-error.sync="cloudError"
               :handle-parsing="handleParsingDeleteGroupForm"
               @submitted="submittedDeleteGroupForm($event)">
      <div class="modal-body">
        <p>This group will be deleted and all associated data lost forever. Discussions, agenda items, the lot.</p>
        <p class="text-danger" v-if="cloudError">
          <small>An error occured while processing your request. Please check your information and try again, or <a
              href="/contact">contact support</a> if the error persists.
          </small>
        </p>
        <p class="text-danger" v-if="me.comrades.length > 1">
          <small>You cannot delete a group unless you are the only member. Please <a href="/contact">contact support</a>
            if this cannot be resolved.
          </small>
        </p>
      </div>
      <div class="modal-footer">
        <button data-dismiss="modal" class="btn btn-outline-secondary mr-1">Nevermind</button>
        <ajax-button type="submit" class="btn btn-danger ml-1" :disabled="me.comrades.length > 1">Remove</ajax-button>
      </div>
    </ajax-form>
  </modal>

  <router-view></router-view>
</div>


<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
